.subconteiner{
    margin-left: 10px;
    margin-right: 10px;
    .conteinerinput{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #E2E8E9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 0px 5px 0px 15px;
        .inputsublist{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            border: 0;
            background: #E2E8E9;
            width: 100%;
            color: black;
            box-shadow: 0 0 0 0;
            outline: 0;
        }
        .buttonaddsub{
            display: flex;
            background: #E2E8E9;
            align-items: center;
            justify-content: center;
            border: 0;
            padding: 0;
            .imgbuttonadd{
                background-color: #E2E8E9;
            }
        }
    }
    .subLista{
        margin: 0px;
        padding: 0;
        list-style: none;
        .lisublista{
            margin-top: 11px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: white;
            padding: 10px 0px 10px 15px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #000000;
            .formEditar{
                display: flex;
                .imputedit{
                    border: 0;
                    box-shadow: 0 0 0 0;
                    outline: 0;
                }
                .buttonsalvaredit{
                    border: 0;
                    background-color: white;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    color: #000000;
                }
            }
            .buttoneditarisublist{
                background-color: white;
                border: 0;
                .imgbuttoneditar{
                    background-color: white;
                }
            }
            .conteinerdeletarsubitem{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                .deletarsublist{
                    background-color: white;
                    border: 0;
                    .imgbuttondeletar{
                        background-color: white;
                    }
                }
            }
        }
    }
}